
body{
    background-color: rgb(154, 154, 231);
}

#contenedor{
    background-color: rgb(154, 154, 231);
}

header{
    color: rgb(9, 9, 56);
    font-size: 20px;
}

a{
    color: rgb(9, 9, 56);
}

a:hover{
    color: cyan;
}

#texto{
    font-size: 20px;
}