*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding-right: 20px;
    padding-bottom: 150px;
}

#contenedor{
    margin-left: 30px;
    margin-right: 30px;
    height: 1200px;
    width: 900px;
}

#encabezado{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    margin-left: 360px;
    margin-bottom: 18px;
}

#encabezado2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

#titulo{
    width: 1000px;
}

header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #BADA55;
    background-color: #B58A69;
}

#contenido1{
    background-color: #DEE5DE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 30px;
    padding-top: 10px;
}

#texto1{
    text-align: justify;
    font-size: 14px;
}

#img1{
    width: 370px;
    height: 220px;
    padding-right: 20px;
}

#img2{
    width: 170px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#contenido2{
    background-color: #D7D7CB;
}

#menu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0000;
    font-size: 18px;
    padding: 0.5em ;
}

a{
    text-decoration: none;
    color: black;
    margin: 50px;
}

button{
    margin-right: 700px;
    margin-top: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#textobtn{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #5E5E4A;
}

a:hover{
    color: red;
}

#pie{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E8E6E6;
    background-color: #5E5E4A;
    font-size: 15px;
}


@media screen and (max-width: 650px){
    #contenedor,
    #encabezado,
    #contenido1,
    #encabezado2,
    #titulo,
    #texto1,
    #pie,
    #menu,
    #contenido2{
    width: 100%;
    margin: 1em;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

    body{
        background-color: white;
    }
    img{
        align-items: center;
    }
}